@import "~primeicons/primeicons.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  margin: auto;
  background: #9ec5c4;
}

.center {
  text-align: center;
}
